html, body, #site {
  min-height: 100vh;
}

body {
  font-family: 'Abel', sans-serif;
}

#site {
  background-color: #334;
  box-shadow: 3px 0px 1px rgba(0,0,0,.3),
             -3px 0px 1px rgba(0,0,0,.3);
}

.page-brand {
  font-family: 'Sacramento', cursive;
  color: white;
  margin-right: 50px;
}

.page-brand a {
  color: white;
}

.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
}

#conteudo {
  background-color: #bbc;
}

.avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.player-card {
  background-color: aliceblue;
  padding: .5em 1.5em;
  position: relative;
  background-image: linear-gradient(to right, aliceblue 90%, #F38CFF 90%);
}

.player-card > .media-left,
.player-card > .media-body {
  display: inline-block;
}

.player-card-link-container {
  display: inline-block;
  position: absolute;
  right: 0em;
  bottom: 50%;
  margin-bottom: -1em;
  transform: rotate(-90deg);
}

.player-card-link {
  color: #690000;
}

.player-card-stacked {
  text-align: center;
  background-color: aliceblue;
  box-shadow: 2px 2px 1px rgba(0,0,0,.3);
}

.player-card-stacked .media-body {
  display: inline;
}

.game-detailed-card {
  overflow-x: hidden;
}

.game-detailed-card.media {
  background-color: lavender;
  box-shadow: 2px 2px 1px rgba(0,0,0,.3);
}

.game-detailed-card .dl-horizontal {
  max-width: 495px;
}

.game-card {
  background-color: white;
  box-shadow: 2px 2px 1px rgba(0,0,0,.3);
}

.game-card:nth-child(2n) {
  background-color: whitesmoke;
}

.most-5played-title {
  color: white;
}


@media (min-width: 768px) {
  .player-card .dl-horizontal dt,
  .player-card-stacked .dl-horizontal dt {
    width: 100px;
  }

  .player-card-stacked .media-body dd {
    text-align: left;
  }

  .player-card .dl-horizontal dd,
  .player-card-stacked .dl-horizontal dd {
    margin-left: 120px;
  }
}
